/* Google Web Fonts */
@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@900&display=swap');

body {
  margin: 0;
  font-family: 'Zen Old Mincho', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* スクロールバーのカスタマイズ */
#invisibleSidebar {
  scrollbar-width: thin;
}
#invisibleSidebar::-webkit-scrollbar{
  height: 5px;
}
#invisibleSidebar::-webkit-scrollbar-track{
  background-color: #0a0a0a;
}

#invisibleSidebar::-webkit-scrollbar-thumb{
  background-color: #262628;
  border-radius: 15px;
}
@media screen and (max-width:599px){
  #invisibleSidebar::-webkit-scrollbar{
    height: 5px;
  }
  #invisibleSidebar::-webkit-scrollbar-track{
    background-color: #0a0a0a;
  }
  
  #invisibleSidebar::-webkit-scrollbar-thumb{
    background-color: #0a0a0a;
    border-radius: 15px;
  }
}
